body {
    display: flex;
    justify-content: center;
}



main {
    width: 850px;
    height: 450px;
    background-image: url("./earth-1388003_960_720.jpg");
    color: white;
    margin: 0 auto;
    font-family: 'Lora', serif;
    padding-top: 100px;
    text-align-last: center;
    font-size: 35px;
    



} 



article {
    width: 270px;
    height: 374px;
    background-color: aliceblue;
} */

.container {
    width: 850px;
    height: 794px;
    
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background-color: lightblue;
}

.socialMedia {
    width: 270px;
    margin-left: 20px;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

.officeInfo {
    width: 270px;
    margin-left: 20px;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

.contactUs {
    width: 270px;
    margin-left: 20px;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    

    
    
    
}

section.textbox [type=text] {
    width: auto;
    margin: 8px 0;
    box-sizing: border-box;
    align-self: baseline;
    
}

section.textbox2 [type=text] {
    width: auto;
    margin: 8px 0px 20px 0px;
    box-sizing: border-box;
}

  #message {
      height: 50;
      width: 50;
      flex-wrap: wrap

  }

p{
    line-height: 50px
}
